MONGO_URI=mongodb://localhost:27017/openstream
JWT_SECRET=replace_with_a_secure_secret
PORT=4000
RTMP_INGEST_URL=rtmp://localhost:1935/live
FFMPEG_PATH=/usr/bin/ffmpeg
API_PREFIX=api

# Default to local dev path. On Server, change this to: /mnt/data/minio/data/recordings
OPENSTREAM_VOL_PATH=./media_data
